@use "../../sass/varibles" as vars
    
.button
    width: 170px
    height: 35px
    border: none
    outline: none
    font-weight: 600
    cursor: pointer
    border-radius: 5px
    transition: all 0.3s

    &__green
        background-color: #319029
        color: white

    &__black
        background-color: black
        color: white

    &__reverse
        background-color: #ebebeb
        color: black
        font-weight: 700

        &:hover
            box-shadow: inset 2px 1px 5px 0 black
            text-shadow: 3px 3px 5px #0000006b

    &__disable
        cursor: default
        background-color: silver
        