@mixin flexDisplay($primarySetting, $secondarySetting: flex-start, $direction:row )
    display: flex
    justify-content: $primarySetting
    align-items: $secondarySetting
    flex-direction: $direction

@mixin absoluteCenter($height: 0, $bottom: false)
    position: absolute
    left: 50%

    @if $height == center
        transform: translate(-50%, -50%)

        @if $bottom == true
            bottom: 50%
        @else
            top: 50%
    @else
        transform: translateX(-50%) 
        
        @if $bottom == true
            bottom: $height
        @else
            top: $height
    
    
    